@import "./reset.scss";

$button-blue: #244c98;
$change: 10%;

@mixin hover {
  @media not all and (hover: none) {
    &:hover {
      @content;
    }
  }
}

:root {
  --font-family: "Manrope", "Helvetica", "Arial", sans-serif;
  --text-color: #727272;
  --white-color: #ffffff;
  --button-blue: #244c98;
  --button-blue-dark: #{darken($button-blue, $change)};
  --title-color: #1f4284;
  --modal-bg: #f0f4fc;
  --modal-title: #323232;
  --card-bg: #f0f4fc;
  --input-bg: #d7e2f6;
  --input-text: #1f4284;
  --button-secondary: #f0f4fc;
  --checkbox-border: #323232;
  --checkbox-label-color: #323232;
}

input {
  width: 100%;

  &:not(:last-of-type) {
    margin-bottom: 4px;
  }

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.form-group {
  display: block;
  margin-bottom: 24px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: var(--checkbox-label-color);
  cursor: pointer;
}

.form-group label:before {
  content: "";
  border: 2px solid var(--checkbox-border);
  width: 18px;
  height: 18px;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.form-group input:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  inset-inline-start: 0;
  width: 18px;
  height: 6px;
  background-image: url('data:image/svg+xml;charset=UTF-8, <svg width="8" height="6" viewBox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1 3L3 5L7 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" /></svg>');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  line-height: 18px;
}

html {
  font-family: var(--font-family);
  font-optical-sizing: auto;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: antialiased;
  text-rendering: optimizeLegibility;
  line-height: 1.6;
}

main {
  padding: 14px 24px;
  background: var(--white-color);
}

.card {
  display: grid;
  background: var(--card-bg);
  text-align: start;
  border-radius: 10px;
  overflow: hidden;

  @media (min-width: 1280px) {
    grid-template-columns: 1fr 1fr;
  }

  &__content {
    padding: 24px 24px 18px;

    @media (min-width: 768px) {
      padding-bottom: 24px;
    }

    @media (min-width: 1280px) {
      max-width: 660px;
      padding: 24px 36px;
    }

    @media (min-width: 1440px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 24px 72px;
    }
  }

  &__title {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 17px;
    color: var(--title-color);

    @media (min-width: 768px) {
      margin-bottom: 18px;
      font-size: 20px;
    }

    @media (min-width: 1440px) {
      font-size: 26px;
    }

    @media (min-width: 1920px) {
      font-size: 30px;
    }
  }

  &__text {
    margin-bottom: 18px;
    font-size: 13px;
    color: var(--text-color);

    @media (min-width: 768px) {
      margin-bottom: 24px;
      font-size: 15px;
    }
    @media (min-width: 1440px) {
      margin-bottom: 36px;
      font-size: 17px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    max-width: 310px;
    width: 100%;
    border-radius: 60px;
    padding: 10px;
    padding-inline-start: 18px;
    background: var(--button-blue);
    font-weight: 500;
    font-size: 15px;
    color: var(--white-color);
    transition: 0.3s ease-in;
    cursor: pointer;

    @include hover {
      transform: translateY(-4px);
      background: var(--button-blue-dark);
    }

    @media (min-width: 768px) {
      width: fit-content;
      min-width: 260px;
    }

    @media (min-width: 1440px) {
      font-size: 18px;
      padding: 12px;
      padding-inline-start: 24px;
      min-width: 340px;
    }
  }

  &__button-icon {
    display: inline-flex;
    padding: 6px;
    background: var(--white-color);
    border-radius: 40px;
    width: 36px;
    height: 36px;

    @media (min-width: 1440px) {
      padding: 4px;
      width: 44px;
      height: 44px;
    }
  }

  &__img {
    img,
    source {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

.modal-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in;

  &._show {
    display: block;
  }
}

.modal {
  position: absolute;
  inset-inline-start: 50%;
  top: 20%;
  transform: translateX(-50%);
  padding: 24px;
  max-width: 500px;
  width: 100%;
  background: var(--modal-bg);

  &__close {
    display: flex;
    margin-inline-start: auto;
    border-radius: 10px;
    padding: 14px;
    background: var(--white-color);
    transition: background 0.3s ease-in;
    cursor: pointer;

    @include hover {
      background: darken(#ffffff, 2%);
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 500;
    font-size: 24px;
    color: var(--modal-title);
  }

  &__input {
    border-radius: 10px;
    padding: 24px;
    background: var(--input-bg);
    color: var(--input-text);

    &::placeholder {
      opacity: 1;
      color: var(--input-text);
    }
  }

  &__button {
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 18px 12px;
    font-weight: 500;
    font-size: 18px;
    color: var(--white-color);
    text-align: center;
    transition: 0.3s ease-in;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-bottom: 4px;
    }

    &._primary {
      background: var(--button-blue);
      border: 1px solid var(--button-blue);

      @include hover {
        background: var(--button-blue-dark);
      }
    }

    &._secondary {
      background: var(--button-secondary);
      border: 1px solid var(--button-blue);
      color: var(--button-blue);

      @include hover {
        background: var(--button-blue);
        color: var(--white-color);
      }
    }
  }

  &__recovery-link {
    display: inline-block;
    margin-bottom: 36px;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--button-blue);
    transition: 0.3s ease-in;

    @include hover {
      color: var(--button-blue-dark);
    }
  }
}
